{% extends 'WebtaxiMainBundle::travels.html.twig' %}

{% block travelsContent %}

    <h1>Mano kelionės</h1>

    <!-- Modal travel review reviewModal-->
    {% set stringRating1 = "Labai blogai" %}
    {% set stringRating2 = "Silpnai" %}
    {% set stringRating3 = "Pusė velnio" %}
    {% set stringRating4 = "Gerai" %}
    {% set stringRating5 = "Puiku" %}
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 id="myModalLabel"><img src="{{ asset('bundles/webtaximain/images/comment.png') }}" class="modal-image"><span class="modal-title">Įvertinkite šią kelionę</span></h4>
                </div>
                <div class="modal-body">
                    <span class="modal-message">
                        <ul id="reviewContainer">
                            <li>
                                <img src="{{ asset('bundles/webtaximain/images/star.png') }}" class="modal-image" id="ratingStar1" alt="{{ stringRating1 }}" title="{{ stringRating1 }}">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/webtaximain/images/star.png') }}" class="modal-image" id="ratingStar2" alt="{{ stringRating2 }}" title="{{ stringRating2 }}">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/webtaximain/images/star.png') }}" class="modal-image" id="ratingStar3" alt="{{ stringRating3 }}" title="{{ stringRating3 }}">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/webtaximain/images/star.png') }}" class="modal-image" id="ratingStar4" alt="{{ stringRating4 }}" title="{{ stringRating4 }}">
                            </li>
                            <li>
                                <img src="{{ asset('bundles/webtaximain/images/star.png') }}" class="modal-image" id="ratingStar5" alt="{{ stringRating5 }}" title="{{ stringRating5 }}">
                            </li>
                        </ul>

                        <textarea class="form-control" rows="5" id="reviewComment" maxlength="255"></textarea>
                        <span id="reviewCountLeftSymbols">Liko simbolių: </span><span id="reviewCountLeftSymbolsValue">255</span>
                        <div id="errorInReview">Įvertinimas ir komentaras yra būtini</div>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
                    <button type="button" class="btn btn-primary">Pateikti</button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive" id="travelsList">
        <table class="table">
            <thead>
            <tr id="travelTableFirstLine">
                <th></th>
                <th>Laikas</th>
                <th>Išvykimas</th>
                <th>Atvykimas</th>
                <th>Kaina</th>
                <th>Keleiviai</th>
                <th>Atstumas</th>
                <th>Pelningumas</th>
                <th>Su ...</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="travelsTBody">
            <tr id="travelTableLastLine">
                <td colspan="9">
                    <a id="loadMore" href="#">
                        Įkelti dar
                    </a>
                    <div id="loadingMore">
                        <img src="{{ asset('bundles/webtaximain/images/load.gif') }}" />
                    </div>
                    <div id="noMoreToLoad">
                        Daugiau kelionių nėra
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}


