{% extends 'WebtaxiMainBundle::parent.html.twig' %}


{% block content %}

    {{ form_start(form, {'attr': {'id': 'create-travel-form'}}) }}
    {#{% form_theme form 'WebtaxiMainBundle:Form:form_errors.html.twig' %}#}
    {% form_theme form 'WebtaxiMainBundle:Form:bootstrap_3_layout.html.twig' %}



        {#<input type="text" name="distance" id="distance" readonly="true" />#}


    <div class="form-group">
        <div class="form-inline">
                {{ form_label(form.distance, null, { 'label_attr': {'class': 'formlbl'} }) }}
                {{ form_widget(form.distance, { 'attr': {'class': 'form-control'} , 'id': 'distance', 'value':'', 'read_only':true}  ) }}
                {{ form_errors(form.distance) }}
        </div>
    </div>

    <div id="map-canvas"></div>
    <br>

    <div class="button-panel">
        <div >
            <div class="form-group">
                <div class="form-inline">
                    {{ form_label(form.sourceAddress, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.sourceAddress, { 'attr': {'class': 'form-control '} , 'id': 'address', 'value':'Vilnius'} ) }}
                    <input type="button" value="Rodyti" class="btn">
            </div>
        </div>
    </div>

        <div>
        <div class="form-group">
            <div class="form-inline">
                    {{ form_label(form.destinationAddress, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.destinationAddress, { 'attr': {'class': 'form-control '} , 'id': 'dest_address', 'value':'Vilnius'} ) }}
                    <input type="button" value="Rodyti" class="btn">
            </div>
        </div>
    </div>

    {#For now paliekam sita, veliau sugalvosim ir ikomponuosim:#}
    {#<label> Laikas: nuo </label>#}
    {#<input id="timeFrom" type="textbox" value="">#}
    {#<label> iki </label>#}
    {#<input id="timeDue" type="textbox" value="">#}
    {#END OF kolkas paliekam#}


        <div class="field">
        <div class="form-group">
            <div class="form-inline">

                    {{ form_label(form.price, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.price, { 'attr': {'class': 'form-control'} , 'value':''} ) }}
                    {{ form_errors(form.price) }}
                <div id="currency"      > LTL </div>
            </div>
        </div>
    </div>

        <div class="field">
        <div class="form-group">
            <div class="form-inline">

                    {{ form_label(form.passengerCount, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.passengerCount, { 'attr': {'class': 'form-control'} , 'id': 'passengerCount', 'value':''} ) }}
                    {{ form_errors(form.passengerCount) }}

            </div>
        </div>
    </div>

        <div class="field">
        <div class="form-group">
            <div class="form-inline">
                    {{ form_widget(form.save, { 'attr': {'class': 'form-control form-control btn'} }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}


    </div>


{% endblock %}