{% extends 'WebtaxiMainBundle::parent.html.twig' %}
{% set title = 'Rask Vežėją' %}
{% block title %} {{ title }}{% endblock %}
{% block description %} {{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {{ form_start(form, {'attr': {'id': 'create-travel-form'}}) }}
    {#{% form_theme form 'WebtaxiMainBundle:Form:form_errors.html.twig' %}#}
    {% form_theme form 'WebtaxiMainBundle:Form:bootstrap_3_layout.html.twig' %}





    <div class="form-group">
        <div class="form-inline">
                {{ form_label(form.distance, null, { 'label_attr': {'class': 'formlbl'} }) }}
                {{ form_widget(form.distance, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'distance', 'value':'', 'read_only':true}  ) }}
                {{ form_errors(form.distance) }}

            <span id="">Paspausk žemėlapyje vietą, į kurią nori vykti</span>
        </div>
    </div>

    <div id="map-canvas"></div>
    <br>

    <div class="button-panel">
        <div >
            <div class="form-group">
                <div class="form-inline">
                    {{ form_label(form.sourceAddress, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.sourceAddress, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'address', 'value':'Vilnius'} ) }}
                    <img src="{{ asset('bundles/webtaximain/images/tick.png') }}">
                </div>
        </div>
    </div>

        <div>
        <div class="form-group">
            <div class="form-inline">
                    {{ form_label(form.destinationAddress, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.destinationAddress, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'dest_address', 'value':'Vilnius'} ) }}
                <img src="{{ asset('bundles/webtaximain/images/tick.png') }}">
            </div>
        </div>
    </div>

        <div class="field">
        <div class="form-group">
            <div class="form-inline">

                    {{ form_label(form.price, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.price, { 'attr': {'class': 'form-control imput-fields'} , 'value':''} ) }}
                    {{ form_errors(form.price) }}
                <div id="currency"> LTL </div>
            </div>
        </div>
    </div>

        <div class="field">
        <div class="form-group">
            <div class="form-inline">

                    {{ form_label(form.passengerCount, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.passengerCount, { 'attr': {'class': 'form-control imput-fields'} ,  'value':''} ) }}
                    {{ form_errors(form.passengerCount) }}

            </div>
        </div>
    </div>

        <div class="field">
        <div class="form-group">
            <div class="form-inline">
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-default btn-lg'} }) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    </div>

{% endblock %}