{% trans_default_domain 'FOSUserBundle' %}
{% set inputSize = '50' %}
<h1>Profilio redagavimas</h1>




<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <div class="button-panel">
        <div class="field">
    <div class="form-group">
        <div class="form-inline">
            {{ form_label(form.firstName, null, { 'label_attr': {'class': 'formlbl'} }) }}
            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'firstName', 'required': 'true'}  ) }}
            {{ form_errors(form.firstName) }}
        </div>
    </div>
</div>
        <div class="field">
    <div class="form-group">
        <div class="form-inline">
            {{ form_label(form.lastName, null, { 'label_attr': {'class': 'formlbl'} }) }}
            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'lastName', 'required': 'true'}  ) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
</div>
        <div class="field">
    <div class="form-group">
        <div class="form-inline">
            {{ form_label(form.carLicensePlate, null, { 'label_attr': {'class': 'formlbl'} }) }}
            {{ form_widget(form.carLicensePlate, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'carLicensePlate'}  ) }}
            {{ form_errors(form.carLicensePlate) }}
        </div>
    </div>
</div>

        <div class="field">
            <div class="form-group">
                <div class="form-inline">
                    {{ form_label(form.mobile, null, { 'label_attr': {'class': 'formlbl'} }) }}
                    {{ form_widget(form.mobile, { 'attr': {'class': 'form-control imput-fields'} , 'id': 'carLicensePlate'}  ) }}
                    {{ form_errors(form.mobile) }}
                </div>
            </div>
        </div>


    {{ form_rest(form) }}

    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-default btn-lg" />
    </div>
        </div>
</form>
