{% trans_default_domain 'FOSUserBundle' %}
{% set inputSize = '50' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_registration_register">
    {#{{ form_widget(form) }}#}

<div class="container " >
    <div class="reg-container">
    <div class="signup">


    <div class="input-group-form">
        {{ form_widget(form.email, { 'attr': {'class': 'form-control ', 'size': inputSize, 'placeholder':'El paštas'}, }) }}
    </div>

    <div class="input-group-form">
        {{ form_widget(form.username, { 'attr': {'class': 'form-control ', 'size': inputSize, 'placeholder':'Vartotojo vardas'}, }) }}
    </div>

    {% for passwordField in form.plainPassword %}
        {% set passwordText = 'Slaptažodis' %}

        {% if secondPass is defined %}
            {% set passwordText = 'Patvirtinkite slaptažodį' %}
        {% endif %}

        <div class="input-group-form reg-field">
            {{ form_widget(passwordField, { 'attr': {'class': 'form-control ', 'size': inputSize, 'placeholder':passwordText}, }) }}
        </div>

        {% set secondPass = 'true' %}
    {% endfor %}

    <div class="input-group-form">

        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control ', 'size': inputSize, 'placeholder':"Vardas"}, }) }}
    </div>

    <div class="input-group-form">

        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control  ', 'size': inputSize, 'placeholder':"Pavardė"}, }) }}
    </div>

    {#{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'size': inputSize} }) }}#}

    {{ form_rest(form) }}

    <div>
        <input type="submit" value="Registruotis" class="btn btn-default btn-lg register-btn"/>
    </div>

        </div>
        </div>
    </div>

</form>
