{% trans_default_domain 'FOSUserBundle' %}
{% set inputSize = '50' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_registration_register">
    {#{{ form_widget(form) }}#}

    <div class="input-group-form">
        <span class="input-group-addon"><img src="{{ asset('bundles/webtaximain/images/ic_email.png') }}"/></span>
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'size': inputSize, 'placeholder':'Email'}, }) }}
    </div>

    <div class="input-group-form">
        <span class="input-group-addon"><img src="{{ asset('bundles/webtaximain/images/ic_user.png') }}"/></span>
        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'size': inputSize, 'placeholder':'User name'}, }) }}
    </div>

    {% for passwordField in form.plainPassword %}
        {% set passwordText = 'Password' %}

        {% if secondPass is defined %}
            {% set passwordText = 'Confirm password' %}
        {% endif %}

        <div class="input-group-form">
            <span class="input-group-addon"><img src="{{ asset('bundles/webtaximain/images/ic_key.png') }}"/></span>
            {{ form_widget(passwordField, { 'attr': {'class': 'form-control', 'size': inputSize, 'placeholder':passwordText}, }) }}
        </div>

        {% set secondPass = 'true' %}
    {% endfor %}

    <div class="input-group-form">
        <span class="input-group-addon invisible-item"><img src="{{ asset('bundles/webtaximain/images/ic_key.png') }}"
                                                            class="invisible-item"/></span>
        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'size': inputSize, 'placeholder':"First name"}, }) }}
    </div>

    <div class="input-group-form">
        <span class="input-group-addon invisible-item"><img src="{{ asset('bundles/webtaximain/images/ic_key.png') }}"
                                                            class="invisible-item"/></span>
        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'size': inputSize, 'placeholder':"Last name"}, }) }}
    </div>

    {#{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'size': inputSize} }) }}#}

    {{ form_rest(form) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default btn-lg"/>
    </div>
</form>
