{% extends '::base.html.twig' %}
{% block body %}
    {#START OF JAVASCIPT PARAMS#}
    {% set loadMoreTravelsLink = '' %}
    {% set isMyTravels = true %}
    {% set imageLinkAlert = asset('bundles/webtaximain/images/alert.png') %}
    {% set imageLinkRemove = asset('bundles/webtaximain/images/remove.png') %}
    {% set imageLinkTick = asset('bundles/webtaximain/images/tick.png') %}
    {% set imageLinkInfo = asset('bundles/webtaximain/images/info.png') %}
    {% set imageLinkTraveler = asset('bundles/webtaximain/images/traveler.png') %}
    {% set imageLinkSteeringWheel = asset('bundles/webtaximain/images/steering_wheel.png') %}
    {% if app.request.attributes.get('_route') == 'webtaxi_main_findtraveller_index' %}
        {% set loadMoreTravelsLink = path('webtaxi_main_findtraveller_loadmoretravels' )  %}
        {% set isMyTravels = false %}
    {% else %}
        {% set loadMoreTravelsLink = path('webtaxi_main_mytravelhistory_loadmoretravels' ) %}
    {% endif %}
    <span id="parameters" data-loadMoreTravelsLink="{{ loadMoreTravelsLink }}" data-isMyTravels="{{ isMyTravels }}"
            data-imageLinkAlert="{{ imageLinkAlert }}" data-imageLinkRemove="{{ imageLinkRemove }}"
            data-imageLinkTick="{{ imageLinkTick }}" data-imageLinkInfo="{{ imageLinkInfo }}"
            data-imageLinkTraveler="{{ imageLinkTraveler }}" data-imageLinkSteeringWheel="{{ imageLinkSteeringWheel }}"
            >
    </span>
    {#END OF JAVASCIPT PARAMS#}
    <div class="wrap">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <span class="navbar-brand">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                    <a href="{{ path('_webtaxi_map') }}">
                        {% endif %}
                        <img alt="Brand" src="{{ asset('bundles/webtaximain/images/LOGO.png') }}">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                    </a>
                    {% endif %}
                </span>
                </div>

                {#LEFT NAVIGATION#}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="navbar" class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav">
                        {% if app.request.attributes.get('_route') == 'webtaxi_main_map_index' %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ path('webtaxi_main_map_index') }}">Rask vežėją</a>
                        </li>

                        {% if app.request.attributes.get('_route') == 'webtaxi_main_findtraveller_index' %}
                            <li class="active">
                        {% else %}
                            <li>
                        {% endif %}
                        <a href="{{ path('webtaxi_main_findtraveller_index') }}">Rask pakeleivį</a>
                        </li>

                        {% if app.request.attributes.get('_route') == 'webtaxi_main_mytravelhistory_index' %}
                        <li class="active">
                            {% else %}
                        <li>
                            {% endif %}
                            <a href="{{ path('webtaxi_main_mytravelhistory_index') }}">Mano kelionės</a>
                        </li>

                    </ul>
                    {% endif %}
                    {#END OF LEFT NAVIGATION#}

                    {#RIGHT NAVIGATION#}
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav navbar-nav">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="{{ path('fos_user_profile_edit') }}">Prisijungęs
                                    kaip {{ app.security.getToken().getUser() }} </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        &nbsp; <img src="{{ asset('bundles/webtaximain/images/ic_logout.png') }}"/>
                                    </a>
                                </li>
                            {% else %}

                                {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="{{ path('fos_user_security_login') }}">Jungtis</a>
                                </li>

                                {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}
                                    <li class="active">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="{{ path('fos_user_registration_register') }}">Registruotis</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {#END OF RIGHT NAVIGATION#}
                </div>
            </div>
        </nav>

        {% block contentParent %}
        {% endblock %}

    </div>

    <div class="navbar navbar-fixed-bottom navbar-default">
        <p class="navbar-text">WebTaxi Team 2014</p>
    </div>
{% endblock %}
