{% extends 'WebtaxiMainBundle::grandparent.html.twig' %}
{% set title = 'Prisijungimas' %}
{% block title %}
    {{ title }}{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% set inputSize = '17' %}

{% block contentParent %}

    <div class="container">
        <div id="map-canvas_main" ></div>

        <div id="fore-word">
            <img src="{{ asset('bundles/webtaximain/images/foreword-bg.png') }}" id="fore-word-img" >
            <img src="{{ asset('bundles/webtaximain/images/LOGO.png') }}" id="fore-word-logo" >
            {% block forewordParent %}
            <div id="fore-word-content">
                <form action="{{ path("fos_user_security_check") }}" id="loginForm" method="post">
                    {% if error %}
                    <div id="loginErrors">Prisijungti nepavyko</div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="input-group-form">
                        <span class="input-group-addon"><img src="{{ asset('bundles/webtaximain/images/ic_user.png') }}"/></span>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                               class="form-control" size="{{ inputSize }}" placeholder="Naudotojo vardas"/>
                    </div>


                    <div class="input-group-form">
                        <span class="input-group-addon"><img src="{{ asset('bundles/webtaximain/images/ic_lock.png') }}"/></span>
                        <input type="password" id="password" name="_password" value="" required="required"
                               class="form-control" size="{{ inputSize }}" placeholder="Slaptažodis"/>
                    </div>

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                    <label for="remember_me" class="checkbox-inline">Prisiminti mane?</label>
                    <br><br>

                    <input type="submit" id="_submit" name="_submit" value="Jungtis"
                           class="btn btn-default btn-lg"/>
                </form>

                <span id="doNotHaveAccount">Neturite paskyros? <a href="{{ path('fos_user_registration_register') }}">Registruokitės</a></span>

                </div>
            {% endblock %}

        </div>
    </div>

{% endblock %}