<div class="fos_user_user_show">

    <table id="profileInfo">
        <tr>
            <td>Naudotojo vardas</td>
            <td>{{ user.username }}</td>
        </tr>

        {#<tr>#}
            {#<td>{{ 'profile.show.email'|trans }}</td>#}
            {#<td>{{ user.email }}</td>#}
        {#</tr>#}

        <tr>
            <td>Vardas</td>
            <td>{{ user.firstName }}</td>
        </tr>

        <tr>
            <td>Pavardė</td>
            <td>{{ user.lastName }}</td>
        </tr>

        <tr>
            <td>Tel nr.</td>
            <td>{{ user.mobile }}</td>
        </tr>

        <tr>
            <td>Automobilio numeris</td>
            <td>{{ user.carLicensePlate }}</td>
        </tr>

    </table>
</div>

<h1>Paskutinės apžvalgos {% if isCurrentUser %} apie tave {% endif %}</h1>

{% set driver = 'vairuotojas' %}
{% set client = 'keleivis' %}
{% set was = 'buvo' %}
{% set andThinks = 'ir mano:' %}
<br>
{% if reviews is null %}
    Apžvalgų nėra
{% else %}
    {% for item in reviews %}
        {% set role = driver %}
        {% if item.isReviewerAsAClient%}
            {% set role = client %}
        {% endif %}
        {% set title = ''  ~ item.nameOfReviewer ~ ' ' ~  was ~ ' ' ~ role ~ ' ' ~ andThinks %}

        {% set link1 = imageLinkRatingStar %}
        {% set link2 = imageLinkRatingStar %}
        {% set link3 = imageLinkRatingStar %}
        {% set link4 = imageLinkRatingStar %}
        {% set link5 = imageLinkRatingStar %}

        {% if item.rating == 1 %}
            {% set link1 = imageLinkRatingStar1 %}
        {% elseif item.rating == 2 %}
                {% set link1 = imageLinkRatingStar2 %}
                {% set link2 = imageLinkRatingStar2 %}
            {% elseif item.rating == 3 %}
                {% set link1 = imageLinkRatingStar3 %}
                {% set link2 = imageLinkRatingStar3 %}
                {% set link3 = imageLinkRatingStar3 %}
            {% elseif item.rating == 4 %}
                {% set link1 = imageLinkRatingStar4 %}
                {% set link2 = imageLinkRatingStar4 %}
                {% set link3 = imageLinkRatingStar4 %}
                {% set link4 = imageLinkRatingStar4 %}
                {% elseif item.rating == 5 %}
                    {% set link1 = imageLinkRatingStar5 %}
                    {% set link2 = imageLinkRatingStar5 %}
                    {% set link3 = imageLinkRatingStar5 %}
                    {% set link4 = imageLinkRatingStar5 %}
                    {% set link5 = imageLinkRatingStar5 %}
                    {% endif %}

        {% set params = { 'reviewTitle': title, 'reviewComment': item.comment,
        'link1': link1, 'link2': link2, 'link3': link3, 'link4': link4, 'link5': link5 } %}

        {% include "WebtaxiMainBundle::item_travel_rating.html.twig" with params %}
    {% endfor %}

{% endif %}
