{% extends 'WebtaxiMainBundle::parent.html.twig' %}


{% block content %}
<h1>Settings</h1>

    <form id="userSettings" method="post" action="{{ path('webtaxi_main_usersettings_index') }}" >
        <div class="cell">

        <img src="{{ asset('bundles/webtaximain/images/user.png') }}" />

</div>
        <div class="cell">
        <input type="text" name="userFirstName" value="{{ userFirstName }}" /><br>
        <input type="text" name="userLastName" value="{{ userLastName }}" /><br>
        <input type="text" name="userEmail" value="{{ userEmail }}" readonly /><br>
        <input type="file" name="pic" accept="image/*" id="chooseUserPhoto" />
</div>
        <div>
        <input type="submit" name="submit" value="Submit"/><br>
        </div>
    </form>
{% endblock %}


